/*  Fonts  */
$mainFont: 'Montserrat', Helvetica, Arial, san-serif;
$mainFontColor: #F3F5F5;
$mainFontSize: 14px;
$mainFontWeight: 400;

/*  Template size  */
$xlWidth: 1200px;
$lgWidth: 992px;
$mdWidth: 768px;
$smWidth: 576px;
$extraSmWidth: 320px;

/*  Primary colors  */
$primaryColorFirst: "#19BE6F";
$primaryColorSecond: "#a99581";

/*  Success colors  */
$successColorFirst: #19BE6F;
$successColorSecond: #42C888;
$successColorThird: #D1F2E2;

/*  Danger colors  */
$dangerColorFirst: #FF4C41;
$dangerColorSecond: #FF6E65;
$dangerColorThird: #FEDEDC;

/*  Warning colors  */
$warningColorFirst: #FF9900;
$warningColorSecond: #FFAB2E;
$warningColorThird: #FFEBCC;

/*  Info colors  */
$infoColorFirst: #1971C5;
$infoColorSecond: #42A3FF;
$infoColorThird: #D9EDFF;

/*  Neutral color  */
$neutralColorFirst: #1E2328;
$neutralColorSecond: #47525E;
$neutralColorThird: #919DA9;
$neutralColorFourth: #8C8C8C;
$neutralColorFifth: #A6A6A6;
$neutralColorSix: #E8E8E8;
$neutralColorSeven: #F3F5F5;